<div class="menu_wrap">
    <ul>
        <li><a href="{% url 'list_learn_news' %}" id="menu1">학습 뉴스 데이터</a></li>
        <li><a href="{% url 'list_real_news' %}" id="menu2">운영 뉴스 데이터</a></li>
        <li><a href="{% url 'statistics_news' %}" id="menu3">통계 데이터</a></li>
        <li><a href="{% url 'learn_news' %}" id="menu4">학습 관리</a></li>
    </ul>
</div>
<script>
    (function(){
        var currentUrl = location.href;
        if(currentUrl.indexOf('list_learn_news') > -1){
            $('#menu1').addClass('active');
        } else if (currentUrl.indexOf('list_real_news') > -1){
            $('#menu2').addClass('active');
        }else if (currentUrl.indexOf('statistics_news') > -1) {
            $('#menu3').addClass('active');
        }else if (currentUrl.indexOf('learn_news') > -1) {
        $('#menu4').addClass('active');
        }
    })();
</script>